
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 193, 197);
    padding: 40px;
}

.main h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}
